root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[{*.go,Makefile,*.rego,*.sh}]
indent_style = tab

[*.py]
indent_style = space
indent_size = 4

[*.{yml,yaml,json,md,tf}]
indent_style = space
indent_size = 2
